# dependencies
node_modules
.pnpm-store

# build
.next
dist
.turbo
*.tsbuildinfo

# env
.env
.env.local
.env.*.local

# editor
.cursor/
.vscode/
.idea/

# vercel
.vercel

# expo
.expo
*.jks
*.p8
*.p12
*.mobileprovision

# os
.DS_Store
Thumbs.db

# logs
*.log
npm-debug.log*

# supabase
supabase/.temp

# generated apkg
*.apkg
